<div class="border">
    <div class="memorium">Memorial Blog</div>
	<div class="comments">
    <p>Originally Posted Dec 10 2008, 11:12 PM on <%= link_to "LosTechies.com", "http://lostechies.com", :target => "_blank" %> by <%= link_to "Jason Meridth", "http://jason.lostechies.com", :target => "_blank" %>
	</div>
	<div class="blog">
		<p>Update: Please make sure to read the comments.  You will have a full picture of how many lives that Nelson blessed.</p>

		<p>Today I was told that a close friend of mine and LosTechies alumni, Nelson Montalvo, was killed in a tragic car accident.  I'm still in shock.  He was an amazing man.  His generosity, humility, charm, knowledge, love for the software industry, learning ability, and teaching skills are all things I'm going to miss dearly.</p>

		<%= image_tag("motorcycle.jpg")%>
		<p>(him in the hill country north of San Antonio)</p>

		<p>He loved riding his motorcycle and also coding when not sleeping.  I could get on my computer at 2am and he'd be on there, eventually throwing me a "howdy" or "go to bed!".</p>

		<p>I met Nelson when we both joined the XP/Scrum team at Wachovia (formerly World Savings) in 2006.  We were both contractors and grew to be great friends.  We both ended up going full-time and took the roles as lead devs very seriously.  We'd meet every other day after our stand-up to make sure we were aware of each other's current status.</p>

		<p>He was a wealth of knowledge.  He had been a contractor for years and also started a few of his own companies.  He loved coding software but also loved the people side of it too.  He always strove to make sure we were delivering EXACTLY what the customer wanted and needed.  That was his passion.</p>

		<p>How he got started in software development. :)</p>

		<p>I will miss him dearly.  Please keep his family and friends in your prayers.</p>

		<p>Nelson and his girlfriend, Jean.  They loved each other very much.</p>

		<%= image_tag("nelson_and_jean.jpg", :width => 200, :height => 150)%> <%= image_tag("nelson_and_jean_2.jpg", :width => 200, :height => 150)%><br/><br/>
		<%= image_tag("nelson_jean_kiss.jpg", :width => 140, :height => 140)%><br/><br/>
		<%= image_tag("nelson_smile.jpg", :width => 180, :height => 240)%>
		<p>He also knew to have fun. :)</p>

		<p>Nelson Montalvo wrote
		at 6:08pm on October 25th, 2007
		"I am the crowned prince of Shiner, didn't you know?"</p>
		<%= image_tag("nelson_shiner_box.jpg", :width => 344, :height => 258)%><br/><br/>
		<%= image_tag("cat_behind_him.jpg", :width => 346, :height => 259)%>
		<p>This is how I will always remember him.  Coding with Hutch in his arms.</p>
		<%= image_tag("nelson_on_computer.jpg", :width => 345, :height => 259)%>
		<p>This picture was taken Tuesday, Dec 9, 2008 in the Wachovia ILS lab.</p>
		<%= image_tag("nelson_last_pic.jpg", :width => 345, :height => 457)%>
		<p>This is Nelson holding my newborn son.</p>
		<%= image_tag("nelson_holding_bishop.jpg", :width => 344, :height => 258)%>
		<p>God Bless.  Rest In Peace brother.</p>
	</div>
	<div class="comments">
	    <div class="memorium">Comments</div>
		<% @comments.each do |c| %>
			<% if c.website.empty? %>
				<div class="comment_name"><%= c.name %></div>
			<% else %>
				<div><%= link_to c.name, c.website, :target => "_blank" %></div>
			<% end %>
			<div><%= c.date %></div>
			<div><%= c.content %></div>
			<hr/>
		<% end %>
	</div>
</div>
